html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.main-page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

header {
    margin-top: 32px;
    margin-bottom: 56px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text {
    margin-left: 18px;
}

.banderogoose-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.banderogoose-container {
    width: 520px;
    background-color: #fff;
    padding: 60px 56px;
    align-self: center;
}

.banderogoose-greeting {
    color: #1B1D1F;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.banderogoose-fly {
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}

.banderogoose-tittle {
    color: #1B1D1F;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 24px;
}

.banderogoose-descr {
    width: 444px;
    color: #1B1D1F;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
}

.banderogoose-launch {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.banderogoose-image {
    align-self: flex-end;
}

.goose-facts {
    padding: 52px 0px 72px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts-tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px auto;
}

.facts-descr {
    width: 876px;
    color: #1B1D1F;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.facts-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.goose-fact-item {
    width: 33%;
}

.fact-tittle {
    margin: 12px auto 32px auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
}

.fact-descr {
    width: 380px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.victory-foter {
    display: flex;
    justify-content: center;
}

.victory-bg {
    width: 1170px;
    background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
    margin-bottom: 72px;
    padding: 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.victory-tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    margin: 16px auto;
    color: #1B1D1F;
}

.victory-descr {
    width: 880px;
    color: #1B1D1F;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.modal-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(27, 29, 31, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease-in-out;
}

.modal-form-conteiner{
    padding: 32px 92px 60px 92px;
    position: relative;
    background: #FFFFFF;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-tittle {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin: 32px auto 12px auto;
    color: #1B1D1F;
}

.modal-form-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 24px;
}

.modal-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-field-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 8px;
}

.modal-form-input{
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #005BBB;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #1B1D1F;
    padding: 4px 8px;
}

.modal-form-btn{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    margin-top: 24px;
}

.close-btn{
    position: absolute;
    top: 24px;
    right: 24px;    
    font-size: 20px;
    color: #1B1D1F;
    cursor: pointer;
    border: 0;
    background: none;
}

.modal-descr{
    margin-bottom: 0;
}

.modal-active{
    opacity: 1;
    pointer-events: all;
}